body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    width: 200px;
    height: auto;
}

.subheadline{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    border: solid;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border-radius: 20px;
    border-color: rgb(117, 116, 116);
}

.symbols-text{
    display: flex;
    align-items: center;
}

.symbols-text img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.lowerheadline{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-button{
    background-color: rgb(117, 116, 116);
    border: none;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 35px;
}

.login-button{
    background-color: rgb(215, 215, 215);
    border: none;
    border-radius: 5px;
    color: black;
    width: 90px;
    height: 28px;
}
